<h1 align="center">YOUR FELLOW BLOGBUSTERS (A List Of Really Cool People!)</h1>
<br>
<% @users.each do |user| %>
<br>
<h2 align="center"><%= link_to user.username, user_path(user) %></h2>
<% end %>
<br>


  