<h1 align="center"> BLOGBUSTER MEMBER </h1>
<br><br>
<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
<br><br>
<h2 align="center"><%= @user.age %></h2>
<br><br>
<h2 align="center"><%= @user.bio %></h2>
<br><br>


 
