<h1 align="center">WELCOME TO BLOGBUSTERS</h1>
<br>
<h2 align="center"> A PLACE TO WRITE, VIEW AND LIKE SOME OF THE BEST ARTICLES AROUND! </h2> 
<div class="frontlogo", align="center"><%= image_tag  "logo.jpeg" %></div>



