<h1>WELCOME TO BLOGBUSTERS</h1>
<br><br>
<h2> A PLACE TO WRITE, VIEW AND LIKE SOME OF THE BEST ARTICLES AROUND! </h2> 
<br><br>
<h2> <%= link_to "I AM A BLOGBUSTER", new_session_path %></h2>
<br><br>
<h2> Or </h2>
<h2><%= link_to "CLICK HERE TO JOIN BLOGBUSTERS!", new_user_path %></h2>
<br><br>
